<div class="container-fluid">
	<div class="row index-content">
		<div class="index-content-internal">
			<div class="col-md-3 col-md-offset-3 intro col-sm-6">

				<%= image_tag('icon.png', :retina => true, :alt => "SimpleHN for iOS9 icon", :class => "pull-left icon") %>

				<h1>SimpleHN</h1>
				<h2>A simple, lightweight Hacker News client for iOS9, by James Eunson</h2>

				<ul>
					<li>Collapsable comment threads</li>
					<li>User profiles</li>
					<li>Night mode</li>
					<li>Search HN.Algolia</li>
					<li>Built-in reader mode</li>
					<li>Free</li>
				</ul>

				<h3>Forthcoming:</h3>
				<ul>
					<li>Top submissions for day, week, month, year</li>			
					<li>User login</li>
					<li>Voting</li>
					<li>Submit articles and comments</li>
				</ul>

				<a class="download-link" href="https://itunes.apple.com/us/app/simplehn/id1057510553">
					<%= image_tag('app-store.png', :retina => true, :alt => "Download SimpleHN on the App Store") %>
				</a><br/>
				<small>&copy; 2016 James Eunson, <br/>more at <a href="http://jeon.com.au">jeon.com.au</a></small>			
			</div>
			<div class="col-md-3 col-sm-6">

				<div class="video-wrapper">
					<%= image_tag('phone.png', :retina => true, :alt => "SimpleHN on iOS9 iPhone") %>
					<div class="video-container">
						<iframe src="https://player.vimeo.com/video/164367033?loop=1" width="272" height="482" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					</div>			
				</div>
			</div>
		</div>
	</div>	
</div>